@import "tailwindcss";

@font-face {
  font-family: 'Epunda Slab';
  src: url('/fonts/EpundaSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Epunda Slab', serif;
}
